# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out
coverage

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Logs
*.log

# Environment files
.env
.env.*

# Git
.git

# IDE
.vscode
.idea

# Turbo
.turbo

# Other
*.min.js
*.min.css
